<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>

<div class="card" th:each="i : ${blogs}">
    <img src="https://placehold.co/300">
    <a th:href="@{'/detail/' + ${i.id}}" th:text="${i.title}"></a>
    <p th:text="${i.price + '원'}"></p>

    <a th:href="@{'/edit/' + ${i.id}}">✏️</a>

    <button
            class="dbtn"
            th:attr="data-id=${i.id}"
            style="cursor:pointer; background:none; border:none; font-size:20px;">
        🗑️
    </button>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".dbtn").forEach(btn => {
            btn.addEventListener("click", async () => {
                const id = btn.dataset.id;

                const res = await fetch(`/blog/${id}`, { method: "DELETE" });
                    btn.closest(".card").remove();


            });
        });
    });
</script>

</body>
</html>